<p id="notice"><%= notice %></p>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="display-3"><%= @article.title%></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><%= @article.body%></h1>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
